{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "edge": 14,
        "firefox": 54,
        "chrome": 59,
        "safari": 10
      },
      "useBuiltIns": true,
      "loose": true
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "transform-class-properties",
    "transform-export-extensions",
    "external-helpers"
  ]
}
